<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.beadalyo.lmy.doneorder.DoneOrderMapper">

    <select id="selectDoneMenuInfo">
        SELECT menu_name AS MenuName, menu_price AS MenuPrice
        FROM done_order_menu
        WHERE done_order_pk = #{doneOrderPk}
    </select>

    <select id="selectDoneOrderByUserPk">
        SELECT
        o.done_order_pk AS doneOrderPk,
        o.res_pk AS resPk,
        o.order_price AS orderPrice,
        o.done_order_state AS doneOrderState,
        o.created_at AS createdAt
        FROM
        `done_order` o
        WHERE
        o.user_pk = #{userPk}
        ORDER BY o.created_at DESC
    </select>

    <select id="selectCancelOrderByUserPk">
        SELECT
        o.done_order_pk AS doneOrderPk,
        o.res_pk AS resPk,
        o.order_price AS orderPrice,
        o.done_order_state AS doneOrderState,
        o.created_at AS createdAt
        FROM
        `done_order` o
        WHERE
        o.user_pk = #{userPk} AND o.done_order_state = 2
    </select>

    <select id="selectDoneOrderByResPk">
        SELECT
        o.done_order_pk AS doneOrderPk,
        o.res_pk AS resPk,
        o.order_price AS orderPrice,
        o.done_order_state AS doneOrderState,
        o.created_at AS createdAt
        FROM
        `done_order` o
        WHERE
        o.res_pk = #{resPk} AND o.done_order_state = 1
        ORDER BY o.created_at DESC
    </select>

    <select id="selectCancelOrderByResPk">
        SELECT
        o.done_order_pk AS doneOrderPk,
        o.res_pk AS resPk,
        o.order_price AS orderPrice,
        o.done_order_state AS doneOrderState,
        o.created_at AS createdAt
        FROM
        `done_order` o
        WHERE
        o.res_pk = #{resPk} AND o.done_order_state = 2
        ORDER BY o.created_at DESC
    </select>

    <select id="getDoneOrderInfo">
        SELECT done_order_pk AS doneOrderPk, user_pk AS userPk, res_pk AS resPk, order_price AS orderPrice
        , order_request AS orderRequest, done_order_state AS doneOrderState, payment_method AS paymentMethod
        , created_at AS createdAt
        FROM `done_order`
        WHERE done_order_pk = #{doneOrderPk}
    </select>

</mapper>