<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.beadalyo.kdh.menu.MenuMapper">
<insert id="postMenu" useGeneratedKeys="true" keyProperty="menuPk">
    INSERT INTO menu
    SET menu_res_pk  = #{menuResPk},
        menu_name    = #{menuName},
        menu_content = #{menuContent},
        menu_price   = #{menuPrice},
        menu_state   = #{menuState}
</insert>
<update id="postMenuPic">
    UPDATE menu
    SET menu_pic = #{menuPic}
    WHERE menu_pk = #{menuPk}
</update>

<select id="getMenuName">
    SELECT menu_name
    FROM menu
    WHERE menu_res_pk = #{menuResPk};
</select>

<select id="getMenuResPkByMenuPk">
    SELECT menu_res_pk AS menuResPk
    FROM menu
    WHERE menu_pk = #{menuPk};
</select>

<select id="getAllMenu">
    SELECT  menu_pk AS menuPk,
            menu_res_pk AS menuResPk,
            menu_name AS menuName,
            menu_content AS menuContent,
            menu_price AS menuPrice,
            menu_pic AS menuPic,
            menu_state AS menuState,
            created_at AS createdAt,
            updated_at AS updatedAt
    FROM menu
    WHERE menu_res_pk = #{menuResPk}
</select>

<select id="getOneMenu">
    SELECT  menu_pk AS menuPk,
            menu_res_pk AS menuResPk,
            menu_name AS menuName,
            menu_content AS menuContent,
            menu_price AS menuPrice,
            menu_pic AS menuPic,
            menu_state AS menuState,
            created_at AS createdAt,
            updated_at AS updatedAt
    FROM menu
    WHERE menu_pk = #{menuPk}
</select>

<select id="getMenuWithOption">
    SELECT
            B.option1_name AS option1Name,
            B.option2_name AS option2Name,
            B.option_price AS optionPrice
    FROM menu A
    INNER JOIN option B
    ON A.menu_pk = B.option_menu_pk
    WHERE A.menu_pk = #{menuPk}
</select>

<update id="putMenu">
UPDATE menu
    <set>
        <if test=" menuName != null and menuName != '' ">
            menu_name = #{menuName},
        </if>
        <if test=" menuContent != null and menuContent != '' ">
            menu_content = #{menuContent},
        </if>
        <if test=" menuPrice != null and menuPrice != '' ">
            menu_price = #{menuPrice},
        </if>
        <if test=" menuPic != null and menuPic != '' ">
            menu_pic = #{menuPic},
        </if>
        <if test=" menuState != null and menuState != '' ">
            menu_state = #{menuState},
        </if>
    </set>
WHERE menu_pk = #{menuPk}
</update>

<delete id="delMenu">
    DELETE
    FROM menu
    WHERE menu_pk = #{menuPk}
    AND menu_res_pk = #{menuResPk}

</delete>

<select id="checkMenuResPkByResUserPk">
    SELECT res_pk
    FROM restaurant
    WHERE res_user_pk = #{resUserPk}
    LIMIT 1;
</select>




<select id="checkResUserPkByMenuPk">
    SELECT res_user_pk AS resUserPk
    FROM 	restaurant
    WHERE res_pk = (SELECT menu_res_pk
                    FROM menu
                    WHERE menu_pk = #{menuPk} );
</select>


<select id="checkResPkByResUserPk">
    SELECT res_pk AS resPk
    FROM restaurant
    WHERE res_user_pk = #{resUserPk}
    LIMIT 1;
</select>

<select id="getMenuResPkByResUserPk">
    SELECT menu_res_pk AS menuResPk
    FROM menu
    WHERE menu_res_pk = (SELECT res_pk
                        FROM restaurant
                        WHERE res_user_pk = #{resUserPk}
                        LIMIT 1)
    LIMIT 1 ;
</select>
</mapper>
