<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.beadalyo.lhn.ReviewMapper">
    <!-- 리뷰작성 -->
    <insert id="insertReview">
        INSERT INTO review
        SET review_pk = #{reviewPk}
        , done_order_pk = #{doneOrderPk}
        , user_pk = #{userPk}
        , res_pk = #{resPk}
        , review_contents = #{reviewContents}
        , review_rating = #{reviewRating}
        , review_pics_1 = #{reviewPics1}
        , review_pics_2 = #{reviewPics2}
        , review_pics_3 = #{reviewPics3}
        , review_pics_4 = #{reviewPics4}
    </insert>

    <!-- 사장님 답글 -->
    <insert id="postReviewReply">
        INSERT INTO review_comment
        SET review_pk = #{reviewPk}
        , comment_content = #{commentContent}
    </insert>

    <!-- 사장님 답글삭제 -->
    <delete id="deleteReviewReply">
        DELETE FROM review_comment
        WHERE review_comment_pk = #{commentPk}
    </delete>


    <!-- 리뷰삭제 -->
    <update id="deleteReview">
        UPDATE review
        SET review_state = #{reviewState}
        WHERE review_pk = #{reviewPk}
    </update>

    <!-- 리뷰리스트 불러오기 -->
    <select id="getReviewList">
        SELECT review_pk AS reviewPk , user_pk AS userPk , review_contents AS reviewContents
        , review_rating AS reviewRating , review_state AS reviewState , updated_at AS updatedAt
        FROM  review
        WHERE res_pk = #{resPk} AND review_state = 1;
    </select>

    <!-- 리뷰 답글 가져오기 쿼리 -->
    <select id="getReviewComment">
        SELECT review_pk AS reviewPk , review_comment_pk AS reviewCommentPk
        , comment_contents AS commentContents , user_pk AS userPk
        FROM review_comments
        WHERE review_pk = #{reviewPk} AND review_state = 1;
    </select>

    <!--사장님 레스토랑 조회-->
    <select id="getRestaurantUser">
        select c.res_user_pk as userPk
        from review_comment a join review b on a.review_pk = b.review_pk
        join restaurant c on b.res_pk = c.res_pk
        where a.review_comment_pk = #{commentPk} limit 1
    </select>

    <!-- 사장님 답글 수정 쿼리 -->
    <update id="updReviewReply">
        UPDATE review_comment
        SET
        comment_content = #{commentContent}
        WHERE  review_comment_pk = #{reviewCommentPk}
    </update>

    <!-- 리뷰 수정 쿼리 -->
    <update id="putReview">
        UPDATE review
        SET
        review_title = #{reviewTitle},
        review_content = #{reviewContent},
        review_rating = #{reviewRating},
        review_pics1 = #{reviewPics1},
        review_pics2 = #{reviewPics2},
        review_pics3 = #{reviewPics3},
        review_pics4 = #{reviewPics4},
        WHERE review_pk = #{reviewPk} AND review_state = 1;
    </update>

    <!-- 주문에 대한 리뷰 존재 여부 확인 쿼리 -->
    <select id="ReviewExistForOrder" >
        SELECT COUNT(*) > 0
        FROM review
        WHERE done_order_pk = #{orderPk} AND review_state = 1;
    </select>

    <!-- 리뷰 작성자 확인 쿼리 -->
    <select id="getReviewUserPk">
        SELECT user_pk
        FROM review
        WHERE review_pk = #{reviewPk} AND review_state = 1;
    </select>

    <select id="getReview">
        SELECT review_pk AS reviewPk , user_pk AS userPk , review_contents AS reviewContents
        , review_rating AS reviewRating , review_state AS reviewState , updated_at AS updatedAt
        FROM  review
        WHERE review_pk = #{reviewPk} AND review_state = 1;
    </select>







    
</mapper>