<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.beadalyo.kdh.stat.StatMapper">

<select id="getReviewCount">
    SELECT COUNT(review_pk) AS reviewCount
    FROM review
    WHERE res_pk = #{resPk};
</select>

<select id="getReviewAvg">
    SELECT format(AVG(review_rating) , 1) AS reviewAvg
    FROM review
    WHERE res_pk = #{resPk};
</select>
    
<select id="getMonthSales">
    SELECT DATE_FORMAT(created_at, '%Y-%m') AS createdAt, sum(order_price) AS monthSales
    FROM done_order
    WHERE DATE_FORMAT(created_at, '%Y') = #{date}
    AND res_pk = #{resPk}
    AND done_order_state = 1
    GROUP BY DATE_FORMAT(created_at, '%Y-%m');
</select>
    
<select id="getMonthOrderCount">
    SELECT DATE_FORMAT(created_at, '%Y-%m') AS createdAt, count(done_order_pk) AS monthOrderCount
    FROM done_order
    WHERE DATE_FORMAT(created_at, '%Y') = #{date}
    AND res_pk = #{resPk}
    AND done_order_state = 1
    GROUP BY DATE_FORMAT(created_at, '%Y-%m');
</select>
    
<select id="getDailySales">
    SELECT DATE_FORMAT(created_at, '%Y-%m-%d') AS createdAt, sum(order_price) AS dailySales
    FROM done_order
    WHERE DATE_FORMAT(created_at, '%Y-%m') = #{date}
    AND res_pk = #{resPk}
    AND done_order_state = 1
    GROUP BY DATE_FORMAT(created_at, '%Y-%m-%d');
</select>

<select id="getDailyOrderCount">
    SELECT DATE_FORMAT(created_at, '%Y-%m-%d') AS createdAt, COUNT(done_order_pk) AS dailyOrderCount
    FROM done_order
    WHERE DATE_FORMAT(created_at, '%Y-%m') = #{date}
    AND res_pk = #{resPk}
    AND done_order_state = 1
    GROUP BY DATE_FORMAT(created_at, '%Y-%m-%d');
</select>
    
    
    
<select id="checkResPk">
    SELECT res_pk AS resPk
    FROM restaurant
    WHERE res_user_pk = #{resUserPk}
    LIMIT 1;
</select>
</mapper>
